---
- name: Install Docker
  apt:
    name: docker.io
    state: present
    update_cache: yes

- name: Install Docker Compose
  apt:
    name: docker-compose
    state: present

- name: Create monitoring directory
  file:
    path: /opt/monitoring
    state: directory

- name: Copy docker-compose.yml
  template:
    src: docker-compose.yml
    dest: /opt/monitoring/docker-compose.yml

- name: Copy Promtail Config
  template:
    src: promtail-config.yml
    dest: /opt/monitoring/promtail-config.yml

- name: Run Docker Compose
  community.docker.docker_compose:
    project_src: /opt/monitoring
    state: present
