---
- name: Install Prerequisites
  apt:
    name:
      - ca-certificates
      - curl
      - gnupg
    state: present
    update_cache: yes

- name: Create Keyrings Directory
  file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'

- name: Add Docker GPG Key
  shell: |
    curl -fsSL https://download.docker.com/linux/ubuntu/gpg | gpg --dearmor -o /etc/apt/keyrings/docker.gpg
  args:
    creates: /etc/apt/keyrings/docker.gpg

- name: Add Docker Repository
  shell: |
    echo \
    "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu \
    $(lsb_release -cs) stable" | tee /etc/apt/sources.list.d/docker.list > /dev/null

- name: Update Apt Cache
  apt:
    update_cache: yes

- name: Install Docker and Compose Plugin
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: present

- name: Start Docker
  service:
    name: docker
    state: started
    enabled: yes

- name: Create monitoring directory
  file:
    path: /opt/monitoring
    state: directory

- name: Copy docker-compose.yml
  template:
    src: docker-compose.yml
    dest: /opt/monitoring/docker-compose.yml

- name: Copy Promtail Config
  template:
    src: promtail-config.yml
    dest: /opt/monitoring/promtail-config.yml

- name: Copy Grafana Datasources
  template:
    src: datasources.yaml
    dest: /opt/monitoring/datasources.yaml

- name: Copy Grafana Dashboards Config
  template:
    src: dashboards.yaml
    dest: /opt/monitoring/dashboards.yaml

- name: Copy Prometheus Config
  template:
    src: prometheus.yml
    dest: /opt/monitoring/prometheus.yml

- name: Copy Dashboard JSONs
  copy:
    src: "{{ item }}"
    dest: "/opt/monitoring/{{ item }}"
  loop:
    - dashboard_node_exporter.json
    - dashboard_loki.json
    - dashboard_docker.json

- name: Run Docker Compose
  community.docker.docker_compose_v2:
    project_src: /opt/monitoring
    state: present
