---
- name: Install Docker
  apt:
    name: docker.io
    state: present
    update_cache: yes

- name: Start Docker
  service:
    name: docker
    state: started
    enabled: yes

- name: Pull Frontend Image
  community.docker.docker_image:
    name: ghcr.io/himanm/devops-project-8/frontend:latest
    source: pull

- name: Run Frontend Container
  community.docker.docker_container:
    name: frontend
    image: ghcr.io/himanm/devops-project-8/frontend:latest
    state: started
    restart_policy: always
    ports:
      - "3000:3000"
    env:
      NEXT_PUBLIC_API_URL: "{{ backend_ip | default('http://localhost:3001') }}"
