global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "node_exporter"
    static_configs:
      - targets: ["{{ backend_ip }}:9100"]
        labels:
          instance: "backend"
      - targets: ["{{ frontend_ip }}:9100"]
        labels:
          instance: "frontend"
      - targets: ["{{ monitoring_ip }}:9100"]
        labels:
          instance: "monitoring"

  - job_name: "cadvisor"
    static_configs:
      - targets: ["{{ backend_ip }}:8080"]
        labels:
          instance: "backend"
      - targets: ["{{ frontend_ip }}:8080"]
        labels:
          instance: "frontend"
      - targets: ["{{ monitoring_ip }}:8080"]
        labels:
          instance: "monitoring"

  - job_name: "loki"
    static_configs:
      - targets: ["loki:3100"]
