name: Build and Push

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "app/**"

permissions:
  packages: write
  contents: read

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Backend
        uses: docker/build-push-action@v4
        with:
          context: ./app/backend
          push: true
          tags: |
            ghcr.io/himanm/devops-project-8/backend:latest
            ghcr.io/himanm/devops-project-8/backend:${{ github.sha }}

      - name: Build and push Frontend
        uses: docker/build-push-action@v4
        with:
          context: ./app/frontend
          push: true
          tags: |
            ghcr.io/himanm/devops-project-8/frontend:latest
            ghcr.io/himanm/devops-project-8/frontend:${{ github.sha }}
