name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
    paths:
      - "app/frontend/**"
      - ".github/workflows/deploy-to-github-pages.yml"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: app/frontend

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"
          cache: "npm"
          cache-dependency-path: app/frontend/package-lock.json

      - name: Install Dependencies
        run: npm ci

      - name: Build for GitHub Pages
        run: npm run build
        env:
          NEXT_PUBLIC_DEPLOY_SOURCE: "github-pages"

      - name: Add .nojekyll file
        run: |
          mkdir -p out
          touch out/.nojekyll

      - name: Add CNAME file
        run: echo "devops8.himanmanduja.fun" > out/CNAME

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./app/frontend/out
          publish_branch: gh-pages
          cname: devops8.himanmanduja.fun
